<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>158662151439-5lgm6hklgr0kusou8nvlr3pd6li3710q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158662151439-5lgm6hklgr0kusou8nvlr3pd6li3710q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>158662151439-vtdc2bep4ehfb5rm6pi6ho2sr4l7blnk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9eZCWRyNnSThcD2tIyyCxJVB4F5RGJNA</string>
	<key>GCM_SENDER_ID</key>
	<string>158662151439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cinnamon.Toomae</string>
	<key>PROJECT_ID</key>
	<string>toomae-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>toomae-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:158662151439:ios:7b49997b2ad40910</string>
	<key>DATABASE_URL</key>
	<string>https://toomae-backend.firebaseio.com</string>
</dict>
</plist>